.navlist{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
}
.navlist li{
    list-style: none;
}

.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f7fa;
    font-weight: 500;
    transition: font-size 0.5s ease-out, width 0.5s ease-in;
}

.scrolled{
    font-size: 1.05rem;
}

.active{
    color: blue;
}

.navlist a {
    color: inherit;
    text-decoration: none;
  }
  
  .navlist a:target {
    color: blue;
  }

  /* Navigation.module.css */
.navlist a {
    color: inherit;
    text-decoration: none;
  }
  
  .navlist a.active {
    color: blue;
  }

@media (max-width:994px) {
    .navlist {
        display: none;
    }
}
