
.gridContainer{
    display: flex;
    width: 80%;
    margin: 5rem auto;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

.gridContainer img{
    min-width: 6rem;
}

@media (max-width:900px) {
    .gridContainer{
        width: 100%;
        padding: 2rem ;
    }
}