.sliderThree{
    display: flex;
    width: 90%;
    margin: 2rem auto;
}

.image{
    width: 60%;
}
.image img{
    width: 536px;
}
.text{
    width: 40%;
}

@media (max-width:994px) {
    .sliderThree{
        flex-direction: column;
        width: 60%;
        align-items: center;
        gap: 3rem;
    }
    .image{
        width: 100%;
    }

    .text{
        width: 100%;
    }
}

@media (max-width:640px) {
    .sliderThree{
        width: 95%;
    }
}