.head{
    text-align: center;
}
.head h2{
    position: relative;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 30px;
    margin: 1rem 0;
}

.line{
    width: 5rem;
    height: 2px;
    background-color: var(--primary-blue);
    margin: 1rem auto;
}
